/* This CSS code isn't necesary, but all looks better, add here your CSS */

.swibe-menu {
  background-color: white;
}

.swibe-menu ul {
  padding: 8px 0;
  list-style-type: none;
  margin: 0;
}

.swibe-menu a {
  display: block;
  line-height: 48px;
  padding: 0 16px;
  text-decoration: none;
  color: inherit;
}

.swibe-menu a:hover {
  color: inherit;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
