/**
 * Swibe v.3.3.0
 * MIT License
 * https://github.com/barcia/swibe
 * Made in Galiza by Iván Barcia | @bartzia | barcia.cc
 */



 // CONFIG
 // 1. The menu width. In small screens, it never will fill all the screen.
 // 2. The time in seconds to open or close the menu.
 // 3. The timing-function of the animation.
 // 4. The opacity of the shadow behind the menu.
 // 5. You can change the breakpoint. Change also in JavaScript file.
 // 8-13. If you change some strings for ID's and Classes, change it also in
 //    HTML and JS documents.
 
$swibe-width              : 300px;
$swibe-transition-duration: 300ms;
$swibe-transition-function: ease-in-out;
$swibe-shadow-opacity     : .5;
$swibe-breakpoint         : 450px;
$swibe-zindex             : 999;
$swibe-shadow-zindex      : $swibe-zindex - 1;

$menuClass             : 'swibe-menu';
$menuClassOpen         : 'swibe-menu--open';
$menuClassResponsive   : 'swibe-menu--responsive';
$triggerId             : 'swibe-shadow';
$triggerClassResponsive: 'swibe-trigger--responsive';
$shadowOpenCLass       : 'swibe-shadow--enabled';


/** MENU
 * 4. The menu is visible from the beginning, but moved to the left of the screen
 */
.#{$menuClass} {
	display: block;
	position: fixed;
	top: 0;
	left: -$swibe-width;
	width: $swibe-width;
	max-width: $swibe-width;
	height: 100%;
	transition: transform $swibe-transition-duration $swibe-transition-function,
							max-width $swibe-transition-duration $swibe-transition-function,;
	will-change: transform;
	overflow-y: auto;
	z-index: $swibe-zindex;

	/* To prevent the menu be wider than the screen */
	&.#{$menuClassOpen} {
		transform: translateX($swibe-width);
		max-width: calc(100% - 40px);
	}
}



/** SHADOW
 * 5, 6. The shadow is created from the beginning, but whithout size.
 *
 * Keep the timing-functions 'step-end', because are required for a good
 * performance of the shadow.
 */
##{$triggerId}{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: hsla(0, 0%, 0%, 0);
	z-index: $swibe-shadow-zindex;
	will-change: background-color;
	transition: background-color $swibe-transition-duration $swibe-transition-function,
							height $swibe-transition-duration step-end,
							width $swibe-transition-duration step-end;

	&.#{$shadowOpenCLass} {
		width: 100%;
		height: 100%;
		background-color: hsla(0, 0%, 0%, $swibe-shadow-opacity);
		transition: background-color $swibe-transition-duration $swibe-transition-function,
								height $swibe-transition-duration step-start,
								width $swibe-transition-duration step-start;
	}
}



/** VARIANTS
 * Add this classes to the menu and the trigger if you use the breakpoint (also
 * enable in the JavaScript file)
 */
.#{$menuClassResponsive} {
	@media (min-width: $swibe-breakpoint) {
		position: relative;
		left: 0;
	}
}

.#{$triggerClassResponsive} {
	@media (min-width: $swibe-breakpoint) {
		display: none;
	}
}
