/**
 * Swibe v.3.3.0
 * MIT License
 * https://github.com/barcia/swibe
 * Made in Galiza by Iván Barcia | @bartzia | barcia.cc
 */



// CONFIG
$swibe-width              : 300px;
$swibe-transition-duration: 300ms;
$swibe-transition-function: ease-in-out;
$swibe-zindex             : 999;
$swibe-shadow-zindex      : $swibe-zindex - 1;
$swibe-shadow-opacity     : .5;

// Breackpoints
$swibe-bp-extra-large: 1366px !default; // => Desktop
$swibe-bp-large      : 1024px !default; // => Tablet horizontal
$swibe-bp-medium     : 800px !default;  // => Tablet Vertical & Mobile Horizontal
$swibe-bp-small      : 450px !default;

// MENU
// 1. The menu is visible from the beginning, but moved to the left of the screen
// 2. To prevent the menu be wider than the screen
.swibe-menu {
  display: block;
  position: fixed;
  top: 0;
  left: -$swibe-width; // 1
  width: $swibe-width;
  max-width: $swibe-width;
  height: 100%;
  transition: transform $swibe-transition-duration $swibe-transition-function,
              max-width $swibe-transition-duration $swibe-transition-function,;
  will-change: transform;
  overflow-y: auto;
  z-index: $swibe-zindex;

  &.swibe-menu--open {
    transform: translateX($swibe-width); //1
    max-width: calc(100% - 40px); // 2
  }
}



// SHADOW
// 1. The shadow is created from the beginning, but whithout size
// 2. property duration timing-function
#swibe-shadow {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0; // 1
  height: 0; // 1
  transition: background-color $swibe-transition-duration $swibe-transition-function, // 2
              height $swibe-transition-duration step-end, // 2
              width $swibe-transition-duration step-end; // 2
  will-change: background-color;
  background-color: hsla(0, 0%, 0%, 0);
  z-index: $swibe-shadow-zindex;

  &.swibe-shadow--enabled {
    width: 100%;
    height: 100%;
    transition: background-color $swibe-transition-duration $swibe-transition-function, //2
                height $swibe-transition-duration step-start, //2
                width $swibe-transition-duration step-start; //2
    background-color: hsla(0, 0%, 0%, $swibe-shadow-opacity);
  }
}



// VARIANTS
.swibe-menu--responsive {
  @media (min-width: $swibe-bp-small) {
    position: relative;
    left: 0;
  }
}

.swibe-trigger--responsive {
  @media (min-width: $swibe-bp-small) {
    display: none;
  }
}


// Animations
.swibe-menu--animation-material-design {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1); // https://goo.gl/ZfYpXc
}
