/**
 * Swibe v.4.0.0
 * MIT License
 * https://github.com/barcia/swibe
 * By Iván Barcia | @bartzia | barcia.cc
 */



 /** CONFIG
  * 1. The menu width. In small screens, it never will fill all the screen.
  * 2. The time in seconds to open or close the menu.
  * 3. The timing-function of the animation.
  * 4. The opacity of the shadow behind the menu.
	*/

// HACK: I have this variables because this: https://github.com/dlmanning/gulp-sass/issues/670
$swibe-shadow-opacity: .5;

$menuId         : 'swibe-menu';
$menuOpenClass  : 'swibe-menu--open';
$shadowId       : 'swibe-shadow';
$shadowOpenCLass: 'swibe-shadow--enabled';


:root {
	--swibe-width: 300px; /* 1 */
	--swibe-transition-duration: 300ms; /* 2 */
	--swibe-transition-function: ease-in-out; /* 3 */
	--swibe-zindex: 999;

	--swibe-shadow-opacity: .5; /* 4 */
	--swibe-shadow-zindex: calc(var(--swibe-zindex) - 1);
}


/** MENU
 * 1. The menu is visible from the beginning, but moved to the left of the screen
 */
// ##{$menuId} {
// 	display: block;
// 	position: fixed;
// 	top: 0;
// 	left: calc(var(--swibe-width) * -1); /* 1 */
// 	width: var(--swibe-width);
// 	max-width: calc(100vw - 40px);
// 	height: 100vh;
// 	transition: transform var(--swibe-transition-duration) var(--swibe-transition-function);
// 	will-change: transform;
// 	overflow-y: auto;
// 	z-index: var(--swibe-zindex);

// 	/* To prevent the menu be wider than the screen */
// 	&[data-state=open] {
// 		transform: translateX(var(--swibe-width));
// 	}
// }



/** SHADOW
 * 1. The shadow is created from the beginning, but whithout size.
 *
 * Keep the timing-functions 'step-end', because are required for a good
 * performance of the shadow.
 */
// ##{$shadowId}{
// 	display: block;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	// width: 0; /* 1 */
// 	// height: 0; /* 1 */
// 	background-color: hsla(0, 0%, 0%, 0);
// 	z-index: var(--swibe-shadow-zindex);
// 	will-change: background-color;
// 	transition: background-color var(--swibe-transition-duration) var(--swibe-transition-function),
// 							height var(--swibe-transition-duration) step-end,
// 							width var(--swibe-transition-duration) step-end;

// 	&[data-state=open] {
// 		// width: 100vw;
// 		// height: 100vh;
// 		background-color: hsla(0, 0%, 0%, $swibe-shadow-opacity);
// 		transition: background-color var(--swibe-transition-duration) var(--swibe-transition-function),
// 								height var(--swibe-transition-duration) step-start,
// 								width var(--swibe-transition-duration) step-start;
// 	}
// }
